<div class="container">
  <form (ngSubmit)="confirm(form)" #form="ngForm">

    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" ngModel id="id" name="id" required>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" ngModel id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" class="form-control" ngModel id="username" name="username" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" ngModel id="email" name="email">
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" ngModel id="street" name="street">
    </div>

    <div class="form-group">
      <label for="number">Number</label>
      <input type="text" class="form-control" ngModel id="number" name="number">
    </div>
    <div class="btn-group">
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
    </div>
  </form>
</div>
