<div class="container">
  <div class="main">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Street</th>
          <th>Number</th>
          <th>Add/Del</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users; let i = index">
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.street}}</td>
          <td>{{user.number}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-warning" (click)="editUser(user, i)">Edit</button>
              <button class="btn btn-danger" (click)="delUser(i)">Del</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="addUser()">Add User</button>
  </div>
</div>
